*{
    margin: 0;
    padding: 0;
    background-color:#e4e9ec;
}

.cal{
    position: absolute;
    right:37vw;
    top: 5vh;
    box-shadow: 5px 5px 10px black;
    
}

.display{
    width: 25vw;
    height: 20vh;
    background-color:#7b939b;
    border: none;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    box-shadow: none;
    flex: 1;
    font-size: 45px;
    position:relative;
    bottom:0;
}

.line{
    display: grid;
    grid-template-columns: 6.25vw 6.25vw 6.25vw 6.25vw;
}

.numpad{
    width:6.25vw;
    height: 6.25vw;
    background-color:#fbf3ef;
    text-align: center;
    align-items: center;
    font-size: large;
    border: none;
    color: #4d7f90;
}

.numpad:hover{
    border-style:solid;
    border-width: 1px;
    border-color: rgb(154, 155, 157);
}

.numpad:active{
    scale: 0.96;
}

.numpad_sym{
    background-color:#e4e9ec;
}

.numpad_new{
    background-color:#fc6464;
    color: white;
}

.symbols{
    font-size:x-large;
}